/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #about div.intro {
        max-width: 70%;
    }

    #about div.intro h1 {
        font-size: 4.3rem;
        line-height: 4.8rem;
    }

    #about div.profile-photo {
        max-width: 45%;
        position: absolute;
        top: -130px;
        right: -15px;
    }

    #about div.profile-photo img {
        height: 700px;
    }

    #skills {
        margin-top: 90px;
    }

    #skills div.skills-list {
        grid-template-columns: repeat(2, 1fr);
    }

    #skills div.skills-list div {
        margin-bottom: 60px;
    }

    #skills div.skills-list h2 {
        font-size: 3rem;
    }

    #skills div.skills-list p {
        font-size: 1.2rem;
    }

    .projects-list .src-section {
        display: block;
        margin-top: 20px;
    }

    .projects-list .src-section span, .contact-form a {
        color: var(--primary-color);
        letter-spacing: 2px;
        border-bottom: 2px solid #1dd8af;
        padding: 10px 0;
        cursor: pointer;
    }

    #contact .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-header {
        margin: 0 auto;
        text-align: center;
    }

    .contact-form {
        margin: 0 auto;
        width: 50%;
    }

    footer {
        padding: 0 15px;
    }    

    .footer-container {
        padding: 40px 0;
    }

}

/* MOBILE AND SMALL DEVICES */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #about {
        flex-direction: column-reverse;
    }

    #about div.profile-photo {
        position: static;
    }

    #skills {
        margin-top: 90px;
    }

    #skills div.skills-list {
        grid-template-columns: 1fr;
    }

    #projects .projects-list {
        grid-template-columns: 1fr;
    }

    .projects-list .src-section {
        display: block;
        margin-top: 20px;
    }

    .projects-list .src-section span, .contact-form a {
        color: var(--primary-color);
        letter-spacing: 2px;
        border-bottom: 2px solid #1dd8af;
        padding: 10px 0;
        cursor: pointer;
    }

    #contact div.contact-container {
        grid-template-columns: 1fr;
        padding: 0 15px;
    }

}
